*{
    font-family: 'Open Sans', Poppins;
}

:root{
    --blue: #00252E;
    --white: #FFFFFF;
    --pink: #FF52C1;
    --ash: #808E9A;
    --light-blue: #edf8fd;
    --text-opacity: 0.5;
}

p, label{
    font-family: 'Open Sans';
    font-size: 18px;
    /* font-weight: 400; */
    line-height: 1.688rem;
    letter-spacing: 0rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: Poppins;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12.5rem;
    padding: 0 6%;
    min-height: 46.313rem;
    background-color: var(--light-blue);
    background-image: url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.header-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

body{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}



.main-container{
    padding: 0 6%;
}

.header-content{
    height: 46.313rem;
}

.header{
    justify-content: space-between;
    align-items: center;
    display: flex;
    text-align: center;
    margin-top: 2.875rem;
}

.logo{
    width: 12.5rem;
    height: 1.938rem;
}


.nav1{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 1.5rem;
    font-family: 'Open Sans';
    font-size: 14px;
    color: black;
    background-color: var(--white);
    padding: 0.875rem 4rem;
}

.nav1:hover{
    cursor: pointer;
    opacity: var(--text-opacity);
}


.container1{
    position: relative;
    display: flex;
    justify-content: space-between;
    column-gap: 4%;
    margin: 4.25rem 0;
}

.card-container{
    width: 50%;
}
.nav-button{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 1.5rem;
    font-family: 'Open Sans';
    font-size: 14px;
    width: 8.75rem;
    color: var(--white);
    background: var(--pink);
    padding: 1.125rem 4.313rem;
}
.nav-button:hover{
    cursor: pointer;
    background-color: #FF9ADB;
}

.mockups{
    /* width: 517.5px;
    height: 369.5px; */
    width: 42.5rem;
    height:30.125rem;
}

.mockups > img{
    width: 38.25rem;
    height: 27.113rem;
}

.main{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    margin-bottom: 10rem;
}

.image-reverse{
    position: relative;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10%;
    /* padding: 0 60px; */
    margin: 2.5rem 0;
    padding: 2.5rem 0;
    border-radius: 1rem;
    min-height: 27.5rem;
    overflow: hidden;
}

.container2{
    position: relative;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10%;
    /* padding: 0 60px; */
    margin: 2.5rem 0;
    padding: 2.5rem 0;
    border-radius: 1rem;
    min-height: 27.5rem;
    overflow: hidden;
}

.p-right{
    padding-right: 3.75rem;
}

.p-left{
    padding-left: 3.75rem;
}

.container-card2{
    width: 40%;
    margin: auto;
}

.main-image{
    /* max-width: 440px;
    min-width: 236px;
    max-height: 440px;
    min-height: 194px; */
    max-width: 27.5rem;
    min-width: 0rem;
    max-height: 27.5rem;
    min-height: 0rem;
    margin: auto;
} 

.main-image  img{
    width: 100%;
    height: 100%;
}

.container3{
    position: absolute;
    z-index: 2;
    height: 17.5rem;
    width: 800px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0.938rem;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-button {
    text-align: center;
    display: block;
    margin: auto;
}

footer{
    position: absolute;
    width: 100%;
    z-index: -2;
    top: 184.063rem;
    /* top: 2626px;*/
    min-height: 26.125rem;
    max-height: auto;
    /* padding: 0.625rem 6%; */
    background: var(--blue);
}

footer > div{
    justify-content: space-between;
    align-items: center;
    margin: 7.5rem 6% 0;
}


footer p, footer > div > div > p > a{
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0rem;
    text-align: left;

}

footer > div > p> a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7.5rem;
    width: 69.313rem;
    /* margin-top: 353px;
    width: 1109px; */
}

footer > svg > path, footer  g{
    fill: var(--white);
    /* color: var(--white); */
}

footer a{
    text-decoration: none;
    color: var(--white);
}

footer a:hover{
    text-decoration: underline;
    color: var(--white);
    cursor: pointer;
}

    /* .svg-footer{
        background: url('./images/logo.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 24px;
        width: 152px;
        border: 1px solid white;
        fill: #FFFFFF;
    } */
.div-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details{
    display: flex;
    align-items: center;
    gap: 4%; 
}

/* .loc img{
  margin-bottom: 1rem;
  height: 100%;
} */

    .loc img{
        margin-bottom: 1rem;
        height: 100%;
      }
      
.card{
    position: relative;
    gap: auto;
    width: 32%;
    height: 9.625rem;
    margin: 0.625rem 0;
}

.card p{
    font: 'Open Sans';
}

.media-logo{
    width: 8.75rem;
    height: 1.25rem;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.toggle-circle{
    width: 1.875rem;
    height: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--white);
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    fill: var(--white);
}

.toggle-circle:hover{
    border-radius: 50%;
    cursor: pointer;
    border-color: var(--pink);
    fill: var(--pink);
}

.gap-r-01{
    height: 11.25rem;
    display: flex;
    flex-direction: column;
    gap: 100%;
}


@media screen and (max-width: 375px){
    header{
        /* display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column; */
        /* margin-bottom: 200px; */
        margin-bottom: 3.688rem;
        padding: 0 2%;
        height: 45.063rem;
        background-color: var(--light-blue);
        background-image: url(./images/bg-hero-mobile.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .main-container{
        padding: 0 2%;
        /* margin: 0 8%;*/
    }

    .header-banner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header{
        justify-content: space-between;
        align-items: center;
        display: flex;
        text-align: center;
        margin-top: 2.875rem;
    }

    .logo{
        height: 1rem;
        width: 6.5rem;
    }

    .nav1{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 1.5rem;
        font-family: 'Open Sans';
        font-size: 10px;
        color: black;
        background-color: var(--white);
        padding: 0.313rem 1.563rem;
    }

    h1{
        font-family: Poppins;
        font-size: 24px;
        font-weight: 600;
        line-height: 2.25rem;
        text-align: center;
    }
    
    p{
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: 0rem;
        text-align: center;

    }

    .container1{
        height: 34.563rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        column-gap: 10%;
        margin: 0 0;
        margin-top:4.25rem;
        margin-bottom: 0;
    }

    .card-container {
        width: 100%;
    }

    .mockups{
        width: 295px;
        height: 209px;
    }
    
    .mockups > img{
        width: 18.438rem;
        height: 13.063rem;
    }

    .image-reverse{
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: auto 0;
        min-height: 30.5rem;
    }
    
    .container2{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* column-gap: 10%; */
        /* margin: 40px 0; */
        padding: auto 0;
        min-height: 30.5rem;
    }

    .container-card2{
        width: 80%;
        margin: auto;
    }

    .p-right{
        padding-right: 0;
    }
    
    .p-left{
        padding-left: 0;
    }

    .main-image{
        height: 12.125rem;
        width: 14.75rem;

    }

    .main-image  img{
        height: 100%;
        width: 100%;
    }

    .container3{
        max-width: 98%;
        min-width: auto;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .nav-button{
        font-family: 'Open Sans';
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 0rem;
        padding: 0.781rem 3.063rem;
        width: 7.5rem;
    }  
    
    h2{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        word-wrap: break-word;
    }

    footer{
        min-height: 48rem;
        /* padding: 10px 4%; */
        background: var(--blue);
    }
    
    footer > div{
        justify-content: center;
        margin: 0 4%;
        margin-top: 6rem;
        margin-bottom: 3rem;
    }

    
    footer > div > p> a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 7.5rem;
        width: 69.313rem;
        /* margin-top: 353px;
        width: 1109px; */
    }

    
    .div-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .details{
        gap: 4%;
        width: auto;
    }

    
    .card{
        position: relative;
        gap: auto;
        width: 100%;
        height: 9.625rem;
        /* margin: 10px 0; */
    }

    .hubble-icon{
        height: 24px;
        width: 152px;
    }

    .card1{
        width: 100%;
        margin: 0 0;
        height: 9.625rem;
    }

    .card1 p{
        padding: 0.625rem 0;
    }

    .gap-r-01{
        margin: 2.25rem 0;
        height: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .gap-r-01 > div{
        margin: 0.7rem;
    }
}

@media screen and (max-width: 1000px){
    .container1{
        /* background-color: firebrick; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        column-gap: 2%;
    }
    .mockups{
        /* width: 517.5px;
        height: 369.5px; */
        width: 36vh;
        height:26vh;
    }
}

@media screen and (min-width: 720px){
    .mockups{
        /* width: 517.5px;
        height: 369.5px; */
        width: 32vh;
        height:20vh;
    }
}
